:root {
    --Eerie-Black: #171717;
    --Jet-grey: #31272c;
    --Black-olive: #454543;
    --Isabelline: #f2ede9;
    --Oxford-blue: #062142;
    --maroon: #820004;
}

@font-face {
    font-family: 'Black Clover';
    src: url(../src/fonts/BlackCloverFont.ttf);
}

.logo {
    font-family: 'Black Clover', sans-serif;
    font-size: 1.5rem;
    margin: .5rem 0 0 0.5rem;
    padding: 0;
}

body {
    background-color: var(--Isabelline);
    color: var(--Eerie-Black);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--Oxford-blue);
    color: var(--Isabelline);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: var(--Isabelline);
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

article {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 1rem;
}
.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 800px;
    height: 60vh;
    gap: 1rem;
    margin: 0 auto;
}


footer {
    background-color: var(--Oxford-blue);
    color: var(--Isabelline);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

footer a {
    color: var(--Isabelline);
    text-decoration: none;
}

footer th,
footer td {
    text-align: left;
    font-size: .8rem;
    font-weight: 300;
    padding: 0 1rem;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

@media screen and (min-width: 720px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        margin-left: 3rem;
    }

    nav ul {
        margin-right: 3rem;
    }

    footer {
        justify-content: start;
    }

    footer table {
        margin-left: 3rem;
    }
}
