:root {
    --Eerie-Black: #171717;
    --Jet-grey: #31272c;
    --Black-olive: #454543;
    --Isabelline: #f2ede9;
    --Oxford-blue: #062142;
    --maroon: #820004;
}

@font-face {
    font-family: 'Black Clover';
    src: url(../src/fonts/BlackCloverFont.ttf);
}

body {
    background-color: var(--Isabelline);
    color: var(--Eerie-Black);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--Oxford-blue);
    color: var(--Isabelline);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: var(--Isabelline);
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
    gap: 1rem;
}

.project-card {
    position: relative;
    width: 75vw;
    border: solid;
    padding: 0.5rem;
    transition: transform 0.3s ease;
    background-color: #EBEBEB;
    overflow: hidden;
    border-radius: 0.5rem;

}

.project-card:hover {
    transform: scale(1.05);
}

.project-card a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-card img {
    width: 75vw;
}

footer {
    background-color: var(--Oxford-blue);
    color: var(--Isabelline);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

footer a {
    color: var(--Isabelline);
    text-decoration: none;
}

footer th,
footer td {
    text-align: left;
    font-size: .8rem;
    font-weight: 300;
    padding: 0 1rem;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}


#shutterDoor {
    display: none;
}

.project-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

@media screen and (min-width: 720px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        margin-left: 3rem;
    }

    nav ul {
        margin-right: 3rem;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        justify-items: center;

    }
    
    .project-card {
        width: 25vw;
        border: solid;
        padding: 0.5rem;
        transition: transform 0.3s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    }
    
    .project-card:hover {
        transform: scale(1.05);
    }

    .project-card a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .project-card img {
        width: 25vw;
        box-shadow: inset 0 -0.5rem -1rem rgba(0, 0, 0, 0.5);
    }

    #shutterDoor {
        display: block;
        transition: transform 1s ease;
        position: absolute;
        width: 100%;
        height: 21rem;
        top: 0;
    }
    
    .project-card:hover #shutterDoor {
        transform: translateY(-100%);
    }

    footer {
        justify-content:start;
    }

    footer table {
        margin-left: 3rem;
    }
}