:root {
    --Eerie-Black: #171717;
    --Jet-grey: #31272c;
    --Black-olive: #454543;
    --Isabelline: #f2ede9;
    --Oxford-blue: #062142;
    --maroon: #820004;
}

@font-face {
    font-family: 'Black Clover';
    src: url(../../src/fonts/BlackCloverFont.ttf);
}

body {
    background-color: var(--Isabelline);
    color: var(--Eerie-Black);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: 300;
    font-size: 1.25rem;
    display: inline-block;
    text-decoration: underline;
}
h3 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    text-decoration: underline;
}


nav {
    background-color: var(--Oxford-blue);
    color: var(--Isabelline);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    color: var(--Isabelline);
    text-decoration: none;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

header h1:first-child {
    font-family: 'Black Clover', sans-serif;
    font-size: 1.5rem;
    margin: .5rem 0 0 1rem;
    padding: 0;
}
header h1::after {
    content: ' ';
    display: block;
    width: 100vw;
    height: 1px;
    background-color: var(--Eerie-Black);
    margin: 0 0 0 -1rem;
}
header img {
    width: 49vw;
    object-fit: cover;
    filter: drop-shadow(1vw 1vw 0 #17171751);
}
header div div p {
    font-size: .8rem;
    width: 45vw;
    font-weight: 300;
    margin: 0 1rem 0 0;
}
header div div p:not(:first-child) {
    font-size: .8rem;
    width: 45vw;
    font-weight: 300;
    margin: 1rem 1rem 0 0;
}
.AboutMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    gap: 2vw;
}
header::after {
    content: ' ';
    display: block;
    width: 100vw;
    height: 1px;
    background-color: var(--Eerie-Black);
    margin: 0;
}

article {
    margin: 2rem 0;
    padding: 0 1rem;
}
article ul li {
    font-size: .8rem;
    font-weight: 300;
    margin: 0;
}

@media screen and (min-width: 720px) {
    header img {
        width: 25vw;
        filter: drop-shadow(.5vw .5vw 0 #17171751);
    }
}